# Configuration file

~CONFIG_VERSION: 0.1.0

world-1949189275 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=quest book
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1568173774 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world712473666 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@mca
    B:overlayEnabled=true
}


